*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;

    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/*button---------------------------------------------------------------------------------*/
.button {
    border: 1px solid #FFF;

    background-color: transparent;

    text-align: center;

    color: #FFF;
    text-align: center;
    font-family: Fira Sans Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    background-color: #545050;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid #FFF;
    outline-offset: 1px;
}

/*content-----------------------------------------------------------------------------------------*/
.content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: end;

    max-inline-size: 1140px;
    max-block-size: 534px;

    color: #FFF;
    font-family: Fira Sans Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*result-----------------------------------------------------------------------------------------*/
.result__video-container {
    position: relative;
    margin-block-end: 17px;

    inline-size: 711px;
    block-size: 386px;
}

.result__video {
    inline-size: inherit;
    block-size: inherit;
    object-fit: fill;
}

/*search-form-----------------------------------------------------------------------------------------*/
.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: #FFF;
    font-family: Fira Sans Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-form__fieldset {
    border: none;
}

.search-form__fieldset-title {
    margin-block-end: 5px;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.search-form__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    width: fit-content;

    cursor: pointer;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #FFF;
    outline-offset: 1px;
}

.search-form__label:hover:has(.search-form__pseudo-checkbox) {
    text-decoration: underline;
}

.search-form__textfield {
    appearance: none;
    inline-size: 100%;

    border-inline: none;
    border-block: 1px solid #fff;

    min-inline-size: 225px;

    background-color: transparent;

    color: rgba(255, 255, 255, 0.70);
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__checkbox-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.search-form__pseudo-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 19px;
    height: 19px;

    border: 1px solid #fff;
}

 .search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
    content: "";
    width: 15px;
    height: 15px;

    background-color: #FFF;
}

.search-form__submit-button {
    align-self: flex-end;

    inline-size: 194px;
    block-size: 34px;
}

/*content__details-----------------------------------------------------------------------------------------*/
.title {
    margin-block-end: 20px;

    color: #FFF;
    font-family: Oswald;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.94;
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}

.content__list {
    position: relative;
    inline-size: 399px;
    block-size: 298px;
    overflow-y: auto;
    overflow-x: hidden;
}

.content__list-item:not(:last-child) {
    margin-block-end: 34px;
}

.content__card-link {
    display: block;
    margin: 2px;

    text-decoration: none;
}

.content__card-link:hover {
    text-decoration: underline;
    text-decoration-color: #FFF;
}

.content__card-link:active {
    text-decoration: none;
    background-color: #545050;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid #FFF;
}

.content__card-link_current {
    background-color: #545050;
}

.content__video-card {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.content__video-card-title {
    margin-block-start: 4px;

    color: #FFF;
    font-family: Oswald;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.0;
    text-transform: uppercase;
}

.content__video-card-description {
    margin-block-start: 3px;

    color: #FFF;
    font-family: Fira Sans Condensed;
    line-height: 0.9;
}

.content__video-card-thumbnail {
    inline-size: 194px;
    block-size: 103px;
}

.content__video-card-description {
    inline-size: 100%;
}

.more-button {
    margin: 2px;
    inline-size: 100%;
    block-size: 34px;
}

/*visually-hidden-------------------------------------------------------------------------------------------------------*/
.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}