*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.content {
    display: grid;
    grid-template-columns: 711px 399px;
    gap: 30px;

    margin: 133px 30px;
}

.result__video-container {
    margin-block-start: 78px;
}

.result__video {
    inline-size: 100%;
}

.search-form {
    display: grid;
    grid-template-columns: 225px 212px 194px;
    gap: 40px;

    color: #fff;
    font-family: Fira Sans Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-form__fieldset {
    border: none;
}

.search-form__fieldset-title {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.search-form__textfield {
    inline-size: 100%;
    

    border-inline-start: none;
    border-inline-end: none;
    border-block-start: 1px solid #fff;
    border-block-end: 1px solid #fff;

    background-color: transparent;

    color: rgba(255, 255, 255, 0.70);
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.search-form__checkbox-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}

.search-form__pseudo-checkbox {
    display: inline-block;
    width: 19px;
    height: 19px;

    border: 1px solid #fff;
}

.search-form__submit-button {
    align-self: end;
    height: 34px;

    border: 1px solid #FFF;
    background-color: transparent;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;

    font-weight: 700;

}



.title {
    font-family: Oswald;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.94;
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}